@import '../variables.css';
.header {
  display: flex;
  flex-direction: column; /* Stack H1 and P vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: center;/* Center items vertically if container has height */
  text-align: center;     /* Ensure text lines within the tags are centered */
  padding: 20px;          /* Add some breathing room for mobile */
  width: 100%;            /* Ensure it spans the full screen width */
  box-sizing: border-box; /* Includes padding in the width calculation */
}

.header h1 {
  margin-bottom: 10px;    /* Space between title and description */
}

.header p {
  max-width: 600px;       /* Prevents the text from being too wide on desktop */
  line-height: 1.5;       /* Improves readability on small screens */
}
.game-board{
    gap:0.5rem;
    display:grid;
    align-items: center;
    justify-content: center;
}
.board-row{
    display: flex;
    gap:0.5rem;
}
.square{
    width: 5rem;
    height: 5rem;
    background-color: var(--bg-light);
    border: 2px solid var(--border-dark);
    font-size: 3rem;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease;
}
.status{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 2rem;
    gap:0.5rem;
    font-size: 1.5rem;
    color: var(--text-dark);
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
}
.status button{
    padding:1rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-dark);
    text-transform: uppercase;
    border: none;
}
.footer{
    display:block;
    position:fixed;
    bottom:1rem;
    width:100%;
    text-align:center;
    font-family: var(--font-primary);
    color: var(--text-dark);
}