@import "../variables.css";

#about{
    font-family: 'Inter', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: var(--bg-main);
    color: var(--text-light);
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    font-weight: 400;
    border: 3px solid black;
}
#about h2{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-white);
    border-bottom: 5px solid var(--border-yellow);
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.certifications-list {
    list-style-type: none;
    margin-top: 5px;
    gap: 10px;
    display:flex;
    flex-direction:column;
    padding: 0;
    font-weight: 700;
}
