@import "../variables.css";

#about{
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
    padding: 20px;
    background: var(--bg-white);
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
#about h2{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-blue);
    border-bottom: 2px solid var(--border-blue);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.certifications-list {
    list-style-type: none;
    margin-top: 5px;
    gap: 10px;
    display:flex;
    flex-direction:column;
    padding: 0;
    font-weight: 700;
}
