@import '../variables.css';

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.skill-card-front, .skill-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  height: 200px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skill-card-front:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.skill-card-front h3 {
  font-size: 1.5rem;
  font-family: var(--font-primary);
  color: var(--text-dark);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skill-card-back {
  overflow: hidden;
}

#skills{
  margin-bottom: 1rem;
}
/* Responsive Design */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }
  
  .skills-header h2 {
    font-size: 2rem;
  }
  
  .skill-category-card {
    padding: 20px;
  }
  
  .skill-category-title {
    font-size: 1.2rem;
  }
}


