.header {
  display: flex;
  flex-direction: column; /* Stack H1 and P vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: center;/* Center items vertically if container has height */
  text-align: center;     /* Ensure text lines within the tags are centered */
  padding: 20px;          /* Add some breathing room for mobile */
  width: 100%;            /* Ensure it spans the full screen width */
  box-sizing: border-box; /* Includes padding in the width calculation */
}

.header h1 {
  margin-bottom: 10px;    /* Space between title and description */
}

.header p {
  max-width: 600px;       /* Prevents the text from being too wide on desktop */
  line-height: 1.5;       /* Improves readability on small screens */
}
.game{
    display:block;
    align-items: center;
    justify-content: center;
}
.game-controls {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center; 
}

.game-controls button{
    padding:1rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--bg-dark-blue);
    color: var(--text-white);
    text-transform: uppercase;
    border: none;
}
.game-controls select{
    padding: 0.3rem;
    font-size: 1.2rem;
    font-family:var(--font-terminal);
    cursor: pointer;
    border: 2px solid var(--border-dark);
    background-color: var(--bg-light);
    color: var(--text-black);
    font-weight: 700;
}
.game-board{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    flex-direction: row;
}
.square{
    width:0.5rem;
    height:0.5rem;
    padding:0.7rem;
    margin:0.05rem;
    background-color: var(--bg-light);
}
.opened{
    background-color: var(--bg-white);
}
.goodbye{
    border-color: var(--bg-red);
    background-color: #e9acac;
}
.grid{
    display:grid;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.message{
    justify-content: center;
    align-items: center;
    text-align:center;
}
.success{
    color: green;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}
.failure{
    color: rgb(224, 90, 49);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}
.hidden{
    display: none;
}
.prompt-animation {
    animation: pulse 2s infinite;
}

/* Add these keyframes to define the "pulse" animation */
@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}