@import './variables.css';

.topNav {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--bg-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: var(--spacing-md);
    border-bottom: 1px solid var(--border-light);
}
.leftDiv{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#headerH1{
    font-size: 2.5rem;
    font-weight: 600;
    background: linear-gradient(135deg, var( --text-dark-blue) 0%, var( --text-dark-blue) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.leftDiv span{
    display:flex;
    align-items: center;
}
.arrowButton{
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-dark);
    transition: transform 0.3s ease;
}
.navDiv{
    border: 1px solid var(--primary-color); 
    border-radius: 4px;
    overflow: hidden;
    flex-direction:row;
    display:flex;
    justify-content:center;
    align-items:center;
}

.terminalLink{
    padding: var(--spacing-sm) var(--spacing-md);
    text-decoration: none;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.6rem;
}

#guiLink{
    background-color: transparent;
    color: var(--primary-color);
}
#cliLink{
    background-color: var(--primary-color);
    color: var(--text-white);
}

.name-heading {
  font-family: var(--font-primary);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: var(--secondary-color);
}

button {
  font-family: var(--font-mono);
  color: var(--primary-color);
}

h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  background: linear-gradient(135deg, var(--gradient-start) 0%, var(--gradient-end) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  margin: 0 ;
}

@media (max-width: 768px) {
    #headerH1 {
        display:none;
    }
    .topNav {
        gap:1.3rem;
    }
    .terminalLink{
        font-size: 1rem;
        padding:0.3rem;
    }
}