.contact-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    gap:1rem;
}
.footer{
    display:flex;
    position:fixed;
    text-align:center;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-white);
    width:100%;
    height: 5rem;
    flex-direction: column;
    padding:0.5rem;
}
.footer p{
    font-family: var(--font-primary);
    color: var(--text-black);
    font-size: 1.2rem;
    padding:0.5rem;
    margin:0;
    margin-top:0.2rem;
}
.footer a{
    padding:0.5rem;
    color: var(--text-black);
}