.guiBody{
    padding: 20px;
    padding-bottom:6rem;
    transition: margin-left 0.3s ease;
    background-color: var(--bg-dark-blue);
} 
.guiBody h2{
    margin-top: 0;
}


.terminal{
    padding: 20px;
    background: #000;
    color: #0f0;
    min-height: 100vh;
    font-family: 'Space Mono', monospace;
    transition: margin-left 0.3s ease;
}