.leftmenu{
    position: fixed;
    left: 0;
    height: calc(100vh);
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    transition: width 0.3s ease;
    display: flex;
    overflow: hidden;
}
.linksContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    width: 100%;
    transition: opacity 0.3s ease;
}
.arrowButton{
    position: absolute;
    top: 40%;
    font-size: 40px;
    margin-left:0.5rem;
    cursor: pointer;
    color: var(--text-dark);
    transition: transform 0.3s ease;
}
.linksContainer a{
    text-decoration: none;
    color: var(--text-dark);
    font-size: 16px;
    white-space: nowrap;
}
