@import "../variables.css";
.elements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin:0;
    padding: 5px;
    gap: 10px;
}
.elements button:hover{
    color: var(--text-white);
    background-color: var(--bg-hover);
}
.elements button.active {
    color: var(--text-white);
    background-color: var(--bg-hover);
    border-radius: 5px;
}

.elements button{
    background-color: var(--bg-main);
    color: var(--text-light);
    border: none;
    padding: 12px 10px;
    font-size: 20px;
    font-family: var(--font-primary);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.navbar{
    display: flex;
    background-color: var(--bg-main);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
    color: var(--text-light);
    font-family: var(--font-primary);
}