.title-card{
    background-color: var(--bg-main);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    border: 3px solid black;
    text-align: center;
    width: 15%;
    margin-left:10px;
    margin-top: 20px;
    display: inline-block;
}
.title-card-image{
    border: 3px solid black;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}
.title-card-title{
    color: var(--text-light);
    font-size: 2em;
    font-weight: bold;
    margin:0;
    padding-top:10px;
}
.title-card-subtitle{
    color: var(--text-light);
    font-size: 1.2em;
    font-family: var(--font-subtitle);
    padding:15px;
    margin:0;
}